.rep-table {
}

.rep-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rep-row span {
    text-align: start;
}

.rep-title {
    width: 100px;
}

.rep-name {
    width: 130px;
}

.rep-email {
    width: 200px;
}
