.rep-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rep-row {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.rep-title, .rep-email {
    text-align: right;
}

.rep-name {
    text-align: left;
}

.rep-title {
    width: 200px;
    margin-right: 5rem;
}

.rep-name {
    width: 200px;
}
.rep-email {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .rep-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }

    .rep-title, .rep-name, .rep-email {
        width: 100%;
        text-align: center;
    }
}
