@import '../../colors.scss';

.MP {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .Icon {
        margin-right: .5rem;
    }
    
    .MP--email, .MP--tel {
        margin-bottom: 1rem;
    }

    .MP--office {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-bottom: 0;
        }
        a {
            margin-top: .5rem;
        }
    }

    .MP--membership {
        color: white;
        padding: .5rem;

        &.bloc {
            background-color: $bloc-primary;
        }
        &.conservative {
            background-color: $conservative-primary;
        }
        &.green {
            background-color: $green-primary;
        }
        &.liberal {
            background-color: $liberal-primary;
        }
        &.ndp {
            background-color: $ndp-primary;
        }
        &.independent {
            background-color: $independent-primary;
        }
    }
    .MP--favword {
        margin-top: 1rem;
        span {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 500px) {
    .MP {
        .MP--membership {
            display: flex;
            flex-direction: column;
        }
    }
}