@import '../../colors.scss';

.Vote {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Vote--partyvote, .Vote--ballot {
        display: flex;
        color: white;
        padding: 0.5rem 1rem;
        width: 10rem;
        border-radius: 5rem;
        align-items: center;
        background-color: $independent-primary;

        .Icon {
            font-size: x-large;
            margin-right: 0.5rem;
        }

        .Vote--partyvote--party, .Vote--ballot--name {
            flex: 1;
        }

        &.bloc {
            background-color: $bloc-primary;
        }
        &.conservative {
            background-color: $conservative-primary;
        }
        &.green {
            background-color: $green-primary;
        }
        &.liberal {
            background-color: $liberal-primary;
        }
        &.ndp {
            background-color: $ndp-primary;
        }
    }

    .Vote--description {
        margin-top: 1rem;
        max-width: 600px;
    }

    .Vote--ballotlist {
        position: relative;
        flex: 1;
        overflow-y: scroll;

        .Vote--ballot {
            width: 15rem;

            &.no-vote {
                background-color: slategray;
            }
        }
    }
}