.VoteList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.VoteList-row {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  font-size: 14pt;
}
.VoteList-row.passed {
  background-color: lightgreen;
}
.VoteList-row.failed {
  background-color: lightpink;
}

.VoteList-row:hover {
  opacity: .7;
}

.VoteList-cell {
  flex: 1;
  text-align: left;
}

.VoteList-cell.description {
  flex: 3;
}
