@import '../../colors.scss';

.Speech {
    .Speech--speaker {
        display: inline-block;
        max-width: 50vw;
        width: fit-content;
        white-space: nowrap;
        color: rgb(29,28,29);
        line-height: 27px;
        padding: 4px 16px;
        border-radius: 5rem;
        background-color: lightgrey;
        a {
            color: rgb(29,28,29);
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.bloc {
            background-color: $bloc-primary;
            a { color: white; }
        }
        &.conservative {
            background-color: $conservative-primary;
            a { color: white; }
        }
        &.green {
            background-color: $green-primary;
            a { color: white; }
        }
        &.liberal {
            background-color: $liberal-primary;
            a { color: white; }
        }
        &.ndp {
            background-color: $ndp-primary;
            a { color: white; }
        }
    }
}