.PoliticianList {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.PoliticianList a {
  text-decoration: none;
  color: inherit;
}

.PoliticianList-row {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  font-size: 14pt;
}

.PoliticianList-cell {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
