@import '../../colors.scss';

.MPs {
    .Grid {
        .Grid--header {
            padding: .25rem;
        }
        .MPs--row {
            cursor: pointer;
            color: white;
            padding: .25rem;

            &.bloc {
                background-color: $bloc-primary;
            }
            &.conservative {
                background-color: $conservative-primary;
            }
            &.green {
                background-color: $green-primary;
            }
            &.independent {
                background-color: $independent-primary;
            }
            &.liberal {
                background-color: $liberal-primary;
            }
            &.ndp {
                background-color: $ndp-primary;
            }
        }

        .MPs--row:hover {
            opacity: .7;
        }
    }
}