.BallotList {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.BallotList-row {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  font-size: 14pt;
}

.BallotList-row:nth-child(2n) {
  background-color: #ddd;
}

.BallotList-row span {
  flex: 1;
  text-align: left;
}
