.PostalCodeSearch {
  display: flex;
  flex-direction: column;
  padding: 2rem 25%;
}

.PostalCodeSearch > * {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.PostalCodeSearch input {
  text-align: center;
}
