.Votes {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.Votes-row {
  display: flex;
  flex-direction: row;
}

.Votes-row:nth-child(2n) {
  background-color: #EEE;
}

.Votes-cell {
  max-height: 20px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Votes-cell.f3 {
  flex: 3;
}
