.Votes {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.Votes a {
  text-decoration: none;
  color: inherit;
}

.Votes-row {
  display: flex;
  flex-direction: row;
}

.Votes-row:hover {
  background-color: #eee;
}

a:nth-child(2n) .Votes-row {
  background-color: #ddd;
}

a:nth-child(2n) .Votes-row:hover {
  background-color: #ccc;
}

.Votes-cell {
  max-height: 20px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Votes-cell.f3 {
  flex: 3;
}
