.PostalCodeSearch {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .TextInput, .Button {
        font-size: xx-large;
        margin: 0 1rem;
    }

    .TextInput {
        text-transform: uppercase;
        border-radius: 10rem;
        max-width: 80vw;
    }
}


@media only screen and (max-width: 600px) {
    .PostalCodeSearch {
        flex-direction: column;

        .Button {
            margin-top: 2rem;
        }
    }
}