$ndp-primary: #F58220;
$ndp-secondary: black;
$liberal-primary: #d71b1e;
$liberal-secondary: black;
$conservative-primary: #0f2d52;
$conservative-secondary: white;
$green-primary: #3d9b35;
$green-secondary: black;
$bloc-primary: #080236;
$bloc-secondary: white;
$independent-primary: #ddd;
$independent-secondary: black;